#* @vtlvariable name="fetchParent" type="java.lang.Boolean" *#
#* @vtlvariable name="fetchToys" type="java.lang.Boolean" *#
#* @vtlvariable name="orderByAge" type="java.lang.Boolean" *#

select child 
  from Child child
#if($fetchParent)
  left join fetch child.parent
#end
#if($fetchToys)
  left join fetch child.toys
#end
   
#if($orderByAge)
    order by child.age
#end