<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>
		</Console>
		<Async name="ASYNC_CONSOLE" bufferSize="1000" blocking="true">
			<AppenderRef ref="Console"/>
		</Async>
	</Appenders>

	<Loggers>
		<Root level="all">
			<AppenderRef ref="ASYNC_CONSOLE"/>
		</Root>

		<Logger name="org.springframework" level="warn" additivity="false">
			<AppenderRef ref="ASYNC_CONSOLE"/>
		</Logger>

		<Logger name="org.springframework.transaction" level="warn" additivity="false">
			<AppenderRef ref="ASYNC_CONSOLE"/>
		</Logger>

		<Logger name="org.hibernate" level="warn" additivity="false">
			<AppenderRef ref="ASYNC_CONSOLE"/>
		</Logger>

		<Logger name="p6spy" level="info" additivity="false">
			<AppenderRef ref="ASYNC_CONSOLE"/>
		</Logger>
	</Loggers>
</Configuration>